<h1>Editing Instructor</h1>

<%= render 'form', instructor: @instructor %>

<%= link_to 'Show', @instructor , class: 'btn btn-primary' %> |
<%= link_to 'Back',  home_index_path, class: 'btn btn-primary' %>
