<style>
.container {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url(/assets/SaurabhKrishna-1ad44851a21a633d6469acc55ec07611fba8eaad1cdfb9a2772e33195f515f5c.JPG) center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url(/assets/SaurabhKrishna-1ad44851a21a633d6469acc55ec07611fba8eaad1cdfb9a2772e33195f515f5c.JPG) left center no-repeat;
  background-size: 600px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url(/assets/22720-cde832c4a666303c62f72769e7ef48b3753f463cf1937c18db95a4b7abdff8f6.jpg) center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url(/assets/22720-cde832c4a666303c62f72769e7ef48b3753f463cf1937c18db95a4b7abdff8f6.jpg) left center no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card2 {
  background: url(/assets/prasanna-2aafa046f2d3d4d012a1a5e728b90fc385620f56805e2dc2ad9180adac250246.png) center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url(/assets/prasanna-2aafa046f2d3d4d012a1a5e728b90fc385620f56805e2dc2ad9180adac250246.png) left center no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

</style>

<div class="container">
  <div class="card card0">
    <a href="https://www.linkedin.com/in/krishnasaurabh/">
      <div class="border">
        <h2>Krishna Saurabh Vankadaru</h2>
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </a>
  </div>
  <div class="card card1">
  <a href="https://www.linkedin.com/in/atharva-r-patil/">
    <div class="border">
      <h2>Atharva Patil</h2>
      <div class="icons">
        <i class="fa fa-codepen" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-dribbble" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
    </div>
    </a>
  </div>
  <div class="card card2">
  <a href="https://www.linkedin.com/in/krishna-prasanna-bhamidipati/">
    <div class="border">
      <h2>Krishna Prasanna Bhamidipati</h2>
      <div class="icons">
        <i class="fa fa-codepen" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-dribbble" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
    </div>
    </a>
  </div>
</div>